.weather-widget{

    display: flex;
    position: relative;
    gap: 20px;
    width: 100%;
    flex: 1;

   .prev-btn{
    left: - 20px;
   }
   .next-btn{
       right: -20px;
   }

   .prev-btn, .next-btn{
       height: 40px;
       width: 40px;
       box-shadow: 0 4px 8px rgba(0,0,0,.125);
       border-radius: 50%;
       outline: none;
       border: 1px solid rgba(0,0,0,.125);
       background-color: #fff;
       position: absolute;
       margin-top: auto;
       margin-bottom: auto;
       top: 0;
       bottom: 0;
       z-index: 10;
   }
}

.weather-forecast{
    display: flex;
    height: calc(100vh - 250px);
    width: 100%;
    margin-top: 30px;
    padding: 30px;

    .weather-details{
        display: flex;
        min-width: 300px;
        background: rgb(98,102,211);
        background: linear-gradient(47deg, rgba(98,102,211,1) 0%, rgba(128,131,224,1) 46%, rgba(208,210,249,1) 100%);      height: 100%;
        border-radius: 20px;
        align-items: center;
        padding: 20px;
        color: #fff;
        flex-direction: column;
        position: relative;

        .city-name{
            font-size: 1.4em;
            margin-top: 40px;
        }

        .temperature{
            font-size: 5em;
            font-weight: bold;
        }

        weather-icon{
            position: absolute;
            right: -60px;
            top: 90px;
        }

        .date{
            position: absolute;
            left: 20px;
            font-size: 14px;
            opacity: 0.7;
        }

        .pop{
            margin-top: 5px;
            font-size: 12px;
            opacity: 0.7;
        }

        .fld{
            display: flex;
            flex-direction: column;
        }

        .weather-desc{
            display: flex;
            width: 100%;
            margin-top: auto;
            margin-bottom: 20px;

            .fld{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;

                .lbl{
                    font-size: 12px;
                    opacity: 0.7;
                }
    
                .lbl-value{
                    line-height: 20px;
                }
            }
        }
    }

    .daily-forecast{
        display: flex;
        flex: 2;
        margin-left: 80px;
        gap: 30px;
        overflow-x: auto;

        .day-forecast{
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 150px;
            width: 100%;

            .day{
                font-size: 1.2em;
                font-weight: bold;
                color: #5e609d;
            }

            .date{
                font-size: 14px;
                margin-bottom: 20px;
            }

            .temperature{
                font-size: 3em;
                margin-top: 40px;
            }

            .pop{
                font-size: 12px;

            }
        }
    }
}

.loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: var(--borderRadius);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

weather-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}